{
  "name": "claudiocarpi",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "dist/img/favicons/apple-touch-icon-144x144.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/apple-touch-icon-144x144.png\",\"size\":2036,\"initialSize\":2036,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/css/wp/wp-login.css",
      "configJson": "{\"compiler-css\":{\"path\":\"dist/css/wp/wp-login.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"dist/css/wp/wp-logindist/src/scss/css.css\"}"
    },
    {
      "path": "CHANGELOG.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"CHANGELOG.md\",\"sanitize\":false,\"gfm\":false,\"wrapWithHtml\":false},\"autoCompile\":false,\"customOutput\":\"CHANGELOG.html\"}"
    },
    {
      "path": "gulpfile.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"gulpfile.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"gulpfile-dist.js\"}"
    },
    {
      "path": "README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"README.md\",\"sanitize\":false,\"gfm\":false,\"wrapWithHtml\":false},\"autoCompile\":false,\"customOutput\":\"README.html\"}"
    },
    {
      "path": "style.css",
      "configJson": "{\"compiler-css\":{\"path\":\"style.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"styledist/src/scss/css.css\"}"
    },
    {
      "path": "doc/manual.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"doc/manual.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"doc/manual.html\"}"
    },
    {
      "path": "src/scss/main.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"src/scss/main.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"dist/css/main.css\"}"
    },
    {
      "path": "screenshot.png",
      "configJson": "{\"compiler-png\":{\"path\":\"screenshot.png\",\"size\":3256794,\"initialSize\":3256794,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "doc/gtmetrix.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"doc/gtmetrix.PNG\",\"size\":143323,\"initialSize\":143323,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "doc/pagespeed-01.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"doc/pagespeed-01.PNG\",\"size\":23726,\"initialSize\":23726,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "doc/pagespeed-02.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"doc/pagespeed-02.PNG\",\"size\":17404,\"initialSize\":17404,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "doc/pngdom.PNG",
      "configJson": "{\"compiler-png\":{\"path\":\"doc/pngdom.PNG\",\"size\":73253,\"initialSize\":73253,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "doc/screenshot.png",
      "configJson": "{\"compiler-png\":{\"path\":\"doc/screenshot.png\",\"size\":3081212,\"initialSize\":3081212,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/logo-claudiocarpi.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/logo-claudiocarpi.png\",\"size\":36006,\"initialSize\":36006,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/logo-copious.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/logo-copious.png\",\"size\":353878,\"initialSize\":353878,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/logo-modds.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/logo-modds.png\",\"size\":75951,\"initialSize\":75951,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/screenshot-social.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"dist/img/screenshot-social.jpg\",\"size\":47706,\"initialSize\":47706,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/android-chrome-144x144.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/android-chrome-144x144.png\",\"size\":1984,\"initialSize\":1984,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/android-chrome-192x192.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/android-chrome-192x192.png\",\"size\":2669,\"initialSize\":2669,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/android-chrome-36x36.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/android-chrome-36x36.png\",\"size\":721,\"initialSize\":721,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/android-chrome-48x48.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/android-chrome-48x48.png\",\"size\":847,\"initialSize\":847,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/android-chrome-72x72.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/android-chrome-72x72.png\",\"size\":1127,\"initialSize\":1127,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/android-chrome-96x96.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/android-chrome-96x96.png\",\"size\":1397,\"initialSize\":1397,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/apple-touch-icon-114x114.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/apple-touch-icon-114x114.png\",\"size\":1631,\"initialSize\":1631,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/apple-touch-icon-120x120.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/apple-touch-icon-120x120.png\",\"size\":1701,\"initialSize\":1701,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/apple-touch-icon-180x180.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/apple-touch-icon-180x180.png\",\"size\":2506,\"initialSize\":2506,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/apple-touch-icon-152x152.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/apple-touch-icon-152x152.png\",\"size\":2102,\"initialSize\":2102,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/apple-touch-icon-57x57.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/apple-touch-icon-57x57.png\",\"size\":961,\"initialSize\":961,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/apple-touch-icon-72x72.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/apple-touch-icon-72x72.png\",\"size\":1141,\"initialSize\":1141,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/apple-touch-icon-60x60.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/apple-touch-icon-60x60.png\",\"size\":1011,\"initialSize\":1011,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/apple-touch-icon-76x76.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/apple-touch-icon-76x76.png\",\"size\":1180,\"initialSize\":1180,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/apple-touch-icon-precomposed.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/apple-touch-icon-precomposed.png\",\"size\":3884,\"initialSize\":3884,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/apple-touch-icon.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/apple-touch-icon.png\",\"size\":2506,\"initialSize\":2506,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/favicon-16x16.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/favicon-16x16.png\",\"size\":644,\"initialSize\":644,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/favicon-194x194.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/favicon-194x194.png\",\"size\":3950,\"initialSize\":3950,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/favicon-32x32.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/favicon-32x32.png\",\"size\":895,\"initialSize\":895,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/favicon-96x96.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/favicon-96x96.png\",\"size\":1949,\"initialSize\":1949,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/mstile-150x150.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/mstile-150x150.png\",\"size\":2742,\"initialSize\":2742,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/mstile-144x144.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/mstile-144x144.png\",\"size\":2726,\"initialSize\":2726,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/mstile-310x150.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/mstile-310x150.png\",\"size\":2977,\"initialSize\":2977,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/mstile-70x70.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/mstile-70x70.png\",\"size\":1901,\"initialSize\":1901,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/img/favicons/mstile-310x310.png",
      "configJson": "{\"compiler-png\":{\"path\":\"dist/img/favicons/mstile-310x310.png\",\"size\":6073,\"initialSize\":6073,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "dist/css/src/scss/main.css",
      "configJson": "{\"compiler-css\":{\"path\":\"dist/css/src/scss/main.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"dist/css/src/scss/maindist/src/scss/css.css\"}"
    },
    {
      "path": "src/js/script.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/js/script.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compiler-javascript\":{\"path\":\"src/js/script.js\",\"mangle\":true}}"
    },
    {
      "path": "dist/js/script.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"dist/js/script.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"dist/js/script-dist.js\"}"
    },
    {
      "path": "dist/css/style.css",
      "configJson": "{\"compiler-css\":{\"path\":\"dist/css/style.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"dist/css/styledist/src/scss/css.css\"}"
    },
    {
      "path": "src/scss/style.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"src/scss/style.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"dist/css/style.css\"}"
    },
    {
      "path": "src/js/plugins/masonry.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"src/js/plugins/masonry.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"src/js/plugins/masonry-dist.js\"}"
    },
    {
      "path": "src/js/plugins/responsiveslides.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"src/js/plugins/responsiveslides.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"src/js/plugins/responsiveslides-dist.js\"}"
    },
    {
      "path": "src/js/main.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"src/js/main.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"src/js/main-dist.js\"}"
    },
    {
      "path": "src/js/plugins/lightgallery.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"src/js/plugins/lightgallery.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"src/js/plugins/lightgallery-dist.js\"}"
    },
    {
      "path": "src/scss/plugins/lightgallery.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"src/scss/plugins/lightgallery.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"dist/css/plugins/lightgallery.css\"}"
    },
    {
      "path": "src/scss/wp/wp-login.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"src/scss/wp/wp-login.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"dist/css/wp/wp-login.css\"}"
    },
    {
      "path": "src/scss/normalize.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"src/scss/normalize.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"dist/css/normalize.css\"}"
    },
    {
      "path": "dist/js/modernizr.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"dist/js/modernizr.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"dist/js/modernizr-dist.js\"}"
    },
    {
      "path": "src/js/vendor/jquery.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"src/js/vendor/jquery.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"src/js/vendor/jquery-dist.js\"}"
    },
    {
      "path": "src/scss/abstracts/variables.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"}}"
    },
    {
      "path": "src/scss/base/base.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"}}"
    },
    {
      "path": "src/scss/base/normalize.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"}}"
    },
    {
      "path": "src/scss/layout/header.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "src/scss",
      "src",
      "src/scss/plugins"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "src/js/script.js",
      "imports": [
        "src/js/vendor/jquery.js",
        "src/js/plugins/vegas.js",
        "src/js/plugins/responsiveslides.js",
        "src/js/plugins/images-loaded.js",
        "src/js/plugins/velocity.js",
        "src/js/plugins/hammer.js",
        "src/js/plugins/muuri.js",
        "src/js/main.js"
      ]
    },
    {
      "path": "src/scss/style.scss",
      "imports": [
        "src/scss/base/normalize.scss",
        "src/scss/base/base.scss",
        "src/scss/abstracts/variables.scss",
        "src/scss/layout/header.scss",
        "src/scss/pages/home.scss",
        "src/scss/pages/works.scss",
        "src/scss/pages/single-works.scss",
        "src/scss/pages/bio.scss",
        "src/scss/pages/contact.scss",
        "src/scss/pages/error-404.scss",
        "src/scss/plugins/animation.scss",
        "src/scss/plugins/vegas.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://localhost/claudiocarpi"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-minify-css\":{\"enabled\":false}}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"autoCompile\":true,\"compiler-pug\":{\"pretty\":true,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"dist/css\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}